# Venture Funding with Deep Learning

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('Resources/applicants_data.csv')

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)
# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']], encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.sample()

16419    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL').copy()

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
output_layer =nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 936

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 977
Trainable params: 977
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

In [24]:
# Fit the model using 50 epochs and the training data
deep_net_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6007 - accuracy: 0.7011
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5636 - accuracy: 0.7225
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5566 - accuracy: 0.7257
Epoch 4/50
804/804 [==============================] - ETA: 0s - loss: 0.5533 - accuracy: 0.72 - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7272
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7281
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7292
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7292
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7290
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7307
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7310
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7303
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7313
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7316
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7324
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7325
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7322
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7323
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7325
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7327
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7324
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7325
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7329
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7324
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7324
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7333
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7322
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7323
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7323
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7328
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7326
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7328
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7339
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7336
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7339
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7322
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7316
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7333
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7329
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7325
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7336
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7331
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7345
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7332
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7337
Epoch 45/50
804/804 [==============================] - ETA: 0s - loss: 0.5413 - accuracy: 0.7341 ETA: 0s - loss: 0.5420 - accuracy: 0. - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7335
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7334
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7342
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7341
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7328
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7332

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5600 - accuracy: 0.7336 - 676ms/epoch - 3ms/step
Loss: 0.5599861145019531, Accuracy: 0.7336443066596985

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = Path("Models/original_model.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [28]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [29]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 6

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

6

In [30]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [31]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))


# Output layer
output_layer =nn.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 6)                 702

=================================================================
Total params: 702
Trainable params: 702
Non-trainable params: 0
_________________________________________________________________

In [32]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

In [33]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 3.0556 - accuracy: 0.1389
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 2.5373 - accuracy: 0.1678
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 2.2857 - accuracy: 0.1701
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 2.2205 - accuracy: 0.1837
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 2.1932 - accuracy: 0.2845
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 2.1798 - accuracy: 0.3038
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 2.0892 - accuracy: 0.2072
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 2.0608 - accuracy: 0.1792
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 1.9700 - accuracy: 0.1784
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 1.8180 - accuracy: 0.1171
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7999 - accuracy: 0.1303
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 1.8209 - accuracy: 0.0845
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7880 - accuracy: 0.0831
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7836 - accuracy: 0.1077
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7848 - accuracy: 0.1276
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7861 - accuracy: 0.1639
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7880 - accuracy: 0.1558
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7798 - accuracy: 0.1441
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7808 - accuracy: 0.1393
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7795 - accuracy: 0.1811
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7589 - accuracy: 0.1555
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 1.6595 - accuracy: 0.1933
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 1.6452 - accuracy: 0.1824
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 1.5406 - accuracy: 0.2597
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 1.5295 - accuracy: 0.1869
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 1.5234 - accuracy: 0.1560
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 1.5158 - accuracy: 0.1604
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4951 - accuracy: 0.1903
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4962 - accuracy: 0.1923
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 1.5151 - accuracy: 0.2021
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 1.5023 - accuracy: 0.1134
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4956 - accuracy: 0.1649
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4933 - accuracy: 0.1647
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4951 - accuracy: 0.1927
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4962 - accuracy: 0.1394
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4997 - accuracy: 0.1730
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4968 - accuracy: 0.1694
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4809 - accuracy: 0.1609
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4470 - accuracy: 0.1375
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4467 - accuracy: 0.1698
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4474 - accuracy: 0.1492
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4460 - accuracy: 0.2061
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4529 - accuracy: 0.1563
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4616 - accuracy: 0.1373
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4471 - accuracy: 0.1068
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4475 - accuracy: 0.1549
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4248 - accuracy: 0.1651
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4224 - accuracy: 0.1391
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4419 - accuracy: 0.1470
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4231 - accuracy: 0.1155

#### Alternative Model 2

In [34]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [35]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 28

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

28

In [37]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [38]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation = 'sigmoid'))

# Output layer
nn_A2.add(Dense(units=number_output_neurons, activation = 'sigmoid'))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 28)                3276

 dense_6 (Dense)             (None, 1)                 29

=================================================================
Total params: 3,305
Trainable params: 3,305
Non-trainable params: 0
_________________________________________________________________

In [39]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

In [40]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5950 - accuracy: 0.7047
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5712 - accuracy: 0.7238
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5681 - accuracy: 0.7248
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5653 - accuracy: 0.7256
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5620 - accuracy: 0.7285
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5594 - accuracy: 0.7296: 0s - loss:
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7299
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7313
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7322
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7323
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7331
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7324
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7320
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7330
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7335
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7325
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7357
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7342
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7334
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7345
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7345
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7345
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7352
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7351
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7364
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7363
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7367
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7346
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7358
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7365
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7362
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7364
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7363
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7372
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7367
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7378
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7369
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7373
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7378
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7377
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7388
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7377
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7378
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7379
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7385
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7385
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7388
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7389
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7393

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [41]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5600 - accuracy: 0.7336 - 447ms/epoch - 2ms/step
Loss: 0.5599861145019531, Accuracy: 0.7336443066596985

In [42]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 1.3987 - accuracy: 0.1053 - 579ms/epoch - 2ms/step
Loss: 1.3987499475479126, Accuracy: 0.10530611872673035

In [43]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.5503 - accuracy: 0.7306 - 566ms/epoch - 2ms/step
Loss: 0.55031418800354, Accuracy: 0.7306122183799744

### Step 3: Save each of your alternative models as an HDF5 file.

In [44]:
# Set the file path for the first alternative model
file_path = Path("Models/first_alternative_model.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [45]:
# Set the file path for the second alternative model
file_path = Path("Models/second_alternative_model.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)